<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <% for (let i=0; i < products.length; i++) { %>
        <form method="post" action="/products">

        <div class="card">
            <div class="card-body">
                <h2 class="card-title">
                    <%= products[i].brand %>
                </h2>
                <h4 class="card-title">
                    <%= products[i].model %>
                </h4>
                <p class="card-text">
                    <%= products[i].description %>
                </p>
                <p class="card-text"><strong>Price:</strong>
                    <%= products[i].price %> USD
                </p>
                <% if (products[i].discount) { %>
                    <p class="card-text"><strong>Discount:</strong>
                        <%= products[i].discount %> % off
                    </p>
                    <% } %>
                        <p class="card-text"><strong>Stock:</strong>
                            <%= products[i].stocks %>
                        </p>
                        <% if (products[i].size && products[i].size.length> 0) { %>
                            <p class="card-text"><strong>Size:</strong>
                                <select name="size">
                                    <% for (let j=0; j < products[i].size.length; j++) { %>
                                        <option value="<%= products[i].size[j] %>">
                                            <%= products[i].size[j] %>
                                        </option>
                                        <% } %>
                                </select>
                            </p>
                            <% } %>
                                <input type="hidden" name="productId" value="<%= products[i]._id %>">
                                <button type="submit" class="btn btn-primary">Add to Cart</button>

            </div>
        </div></form>

        <% } %>

