<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

<div class="container-fluid row align-items-center">
    <form action="/userInfo" method="post">
      <input class="col-md-6" type="email" name="email" placeholder="Please enter your email" value="<%= userInfo.email %>" readonly>
  
      <input class="col-md-6" type="text" name="name" placeholder="Please enter your name" value="<%= userInfo.name %>" disabled>
  
      <input class="col-md-6" type="number" name="phone" placeholder="Please enter your Phone Number" value="<%= userInfo.phone %>" disabled>
  
      <input class="col-md-6" type="text" name="address" placeholder="Please enter your Address" value="<%= userInfo.address %>" disabled>
  
      <input class="col-md-6" type="number" name="pincode" placeholder="Please enter your pincode" value="<%= userInfo.pincode %>" disabled>
  
      <button class="col-md-6" type="button" onclick="enableForm()">Edit</button>
      <button class="col-md-6" type="submit" style="display: none;">Update my info</button>
    </form>
  </div>
  
  <script>
    function enableForm() {
      const nameInput = document.querySelector('input[name="name"]');
      const phoneInput = document.querySelector('input[name="phone"]');
      const addressInput = document.querySelector('input[name="address"]');
      const pincodeInput = document.querySelector('input[name="pincode"]');
      const updateButton = document.querySelector('button[type="submit"]');
  
      nameInput.removeAttribute("disabled");
      phoneInput.removeAttribute("disabled");
      addressInput.removeAttribute("disabled");
      pincodeInput.removeAttribute("disabled");
      updateButton.style.display = "block";
    }
  </script>
  